@{
    Layout = "_LayoutNew";
}

<div class="about" id="team">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>Biz Kimiz?</h2>
			@*<p>Sepet adedi @ViewData["sepet"]</p>*@
		</div>
		<!-- about what we are like content -->
		<div class="about-what-we">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="what-we-item ">
						<!-- heading with icon -->
						<h3><i class="fa fa-heartbeat"></i> Ne yapıyoruz?</h3>
						<!-- paragraph -->
						<p>En popüler sanatçılar ve albümlerini dinleyicilerini hızlı ve kaliteli şekilde aktarıyoruz.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="what-we-item ">
						<!-- heading with icon -->
						<h3><i class="fa fa-hand-o-up"></i> Neden bizi seçmelisiniz?</h3>
						<!-- paragraph -->
						<p>Müşteriler, çeşitli müzik türlerinde ve sanatçılarda bol seçenek sunan bir dükkanı tercih ederler. Yeni ve eski müzikleri, farklı formatlarda (vinil, CD, dijital) bulundurmak, müşterilere çeşitlilik sunmaktayız.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="what-we-item ">
						<!-- heading with icon -->
						<h3><i class="fa fa-dot-circle-o" aria-hidden="true"></i>Amacımız</h3>
						<!-- paragraph -->
						<p>"Müziğin Kalbini Yakalamak ve İnsanları İlham Veren Seslerle Birleştirmek"</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- our team -->
	<div class="team">
		<div class="container">
			<!-- Team Member's Details -->
			<div class="team-content">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<!-- Team Member -->
						<div class="team-member  delay-one">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="~/img/user/1.jpg" alt="" />
								<!-- Hover block -->
								<div class="social text-center" style="margin-top:90px">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<!-- Member Details -->
							<h3>Suna Kan</h3>
							<span class="designation">Gitarist</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Team Member -->
						<div class="team-member  delay-two">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="~/img/user/2.jpg" alt="" />
								<!-- Hover block -->
								<div class="social text-center" style="margin-top:90px">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<!-- Member Details -->
							<h3>Hüsnü Şenlendirici</h3>
							<span class="designation">Klarnetci</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Team Member -->
						<div class="team-member  delay-three">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="~/img/user/3.jpg" alt="" />
								<!-- Hover block -->
								<div class="social text-center" style="margin-top:90px">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<!-- Member Details -->
							<h3>Ayla Erduran</h3>
							<span class="designation">Kemancı</span>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<!-- Team Member -->
						<div class="team-member  delay-four">
							<!-- Image Hover Block -->
							<div class="member-img">
								<!-- Image  -->
								<img class="img-responsive" src="~/img/user/4.jpg" alt="" />
								<!-- Hover block -->
								<div class="social text-center" style="margin-top:90px">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
							<!-- Member Details -->
							<h3>Fazıl Say</h3>
							<span class="designation">Piyanist</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about end -->